.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
}

.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 50px 70px;
    padding: 30px 50px;
}
.nav-title{
    font-size: 34px;
    font-weight: 800;
    font-family: ;
    color: rgba(78, 71, 255, 1);
}
.blue-color{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    background-color:#4E47FF ;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
}
.banner{
text-align: center;
align-items: center;
justify-content: center;
width: 905px;
height: 237px;
gap: 37px;
padding: 0px 500px 200px 500px;

}
.banner-header{
    font-size: 65px;
    font-weight: 600;
}
header{
    background-image: url("../images/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
a :hover{
    background-color: rgb(61, 64, 65);
}
/*1st part done!*/

.second-part{
display: flex;
justify-content: space-around;
padding: 116px 160px;

}
.second-part-content{
    gap: 23px;
}
.second-part-title{
    font-size: 42px;
    font-weight: 600;
    width: 517px;
    height: 49px;
}
.second-part-para{
    font-size: 24px;
    font-weight: 200;
    width: 517px;
    height: 60px;
}
.wc-mini{
    border-radius: 48px;
    width: 403px;
    height: 328px;
}
/*second-part-end*/

.third-part{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin: 116px 140px;
    padding: 50px 140px;
    
}
.third-part-header{
    text-align: center;
    justify-content: center;
    font-size: 38px;
    font-weight: 600;
    height: 45px;
    width: 856px;
    padding: 50px 140px 40px 200px;
}
.third-part-content{
display: flex;
justify-content: space-around;
text-align: center;
}
.third-part-items{
    padding: 0%;
}
.third-part-items-header{
    color:rgba(78, 71, 255, 1);
    font-size: 80px;
    font-weight: 600;
    height: 97px;
    width: 162px;
}
.third-part-items-para{
    font-size: 20px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.5);
}

/*third-part-end*/

.review-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.reviews{
margin: 137px 380px;
padding: 99px 0px;

}
.reviews-title{
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    height: 49px;
    width: 1140px;
}
.review{
    box-shadow: 0px 6px 50px 10px #F2EDED;
    border-radius: 10px;
    padding: 40px 50px;
}
.rv-header{
    font-size: 24px;
    font-weight: 600;
    height: 29px;
    width: 221px;
}
.rv-para{
font-size: 20px;
font-weight: 100;
height: 44px;
width: 318px;
}
.avatar{
    display: flex;
    gap: 18px;
}
.name-date{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.first-footer{
padding: 200px 200px;
margin: 92px 150px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer-title{
    font-size: 97px;
    font-weight: bold;
    height: 232px;
    width: 528px;
    
}
footer input[type="text"], footer input[type="email"], footer textarea{
  height: 70px; 
  width: 497px; 
  background-color: #f2eded;
  display: block;
  border-radius: 10px;
  border-color: transparent;
  margin: 10px 0;
}
form ::placeholder{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.last-btn{
    height: 62px;
    width: 497px;
    padding: 10px 101px;
    margin:10px 0;


}
.last-txt{
    width: 497px;
    height: 135px;
    gap: 10px;
    padding: 20px 32px;
}
form{
    gap: 20px;
}
.last-footer{
    background-color: rgb(245, 248,255);
    text-align: center;
    padding: 103px 450px;
    margin:
}
.last-footer-header{
    font-size: 100px;
    font-weight: 800;
    color: rgba(78, 71, 255, 1);
    height: 121px;
    width: 291px;
    padding: 0px 120px;
    margin: 30px 200px;
}
.last-footer-para{
    height: 48px;
    width: 531px;
    color: #45444f;
    font-size: 20px;
    font-weight: 100;
    padding: 20px 0;
    margin: 30px 200px;
}
.last-tab{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
}
footer a{
    text-align: center;
    text-decoration: none;
    color: #46464b;
}
.last-tab :hover{
    color: hsl(219, 100%, 53%);
}